* {
    padding: 0;
    margin: 0;
}
body {
    background: var(--background);
}

.app {
    padding: 100px;
}

.homePage {
    margin: 100px;
}

.slPage { 
    color: palevioletred;
}

@import './colors.css'
